@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);
.container {
  padding: 0 15px;
}
@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}
@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}

.header {
  background-color: #fff;
}
.header__logo {
  width: 100px;
}
.button {
  color: #090909;
  font-weight: 700;
  line-height: 20px;
  padding: 26px 38px;
  border-radius: 10px;
  margin-top: 110px;
}
.button_clr_white {
  background-color: #fff;
  border: 1px solid #F0ECE8;
}
.button_clr_orange {
  background-color: #FF9C08;
  border: none;
}

h1, h2, h3, h4 {
  font-family: "Roboto", Arial, sans-serif;
}

body {
  font-family: "DM Sans";
}

a, p {
  font-size: 18px;
}