
.about-us {
	background-color: #FEF9F2;
	padding-bottom: 200px;
	&__list {
		padding-top: 135px;
		padding-bottom: 73px;
		border-bottom: 1px solid #DAD1CA;
		list-style: none;
		display: flex;
		justify-content: space-around;
	}

	&__item {
		text-align: center;
	}

	&__item-numbers {
		font-size: 60px;
		line-height: 80px;
		font-weight: 700;
		span{
			color: #FF9C08;
		}
	}

	&__item-text {
		font-size: 20px;
		line-height: 22px;
		color: #6E6E6E;
	}

	&__row{
		padding-top:240px ;
	}

	&__title{
		margin-bottom: 17px;
	}
	&__text{
		margin-bottom: 52px;
	}

	&__img{
		width: 596px;
		height: auto;
		border-radius: 10px;
		margin-bottom: 32px;
	}

	&__buttons .button{
		margin-left: 28px;
		margin-bottom: 64px;
	}

	&__column1{
		padding-right: 14px;
	}

	&__column2{
		align-items: flex-end;
		padding-left: 26px;
	}
}
