.button{
	display: inline-block;
	font-weight: 700;
	line-height: 20px;
	padding: 26px 38px;
	border-radius:10px ;

	&_clr_white{
		background-color: #fff;
		border: 1px solid #F0ECE8;
		padding: 25px 38px;
	}
	&_clr_orange{
		background-color: #FF9C08;
	}
	&_clr_black{
		background-color: #000;
		color: #fff;
	}

	&_nav{
		float: right;
		font-size: 16px;
		line-height: 18px;
		background-color: #FF9C08;
		padding: 18px 24px;
	}
}