
.header {
	position: relative;
	display: block;
	background-color: #fff;
	border-bottom:1px solid #F0ECE8 ;

	&__logo {
		float: left;
		width: 200px;
	}

	&__inner{
		align-items: center;
		height: 119px;
		box-sizing: border-box;
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
	}
}

.nav {
	&__list {
		float: left;
		display: flex;
		flex-direction: row;
		list-style: none;
		margin-left: 40px;
	}

	&__item {
		margin-left: 26px;
	}

	&__link {
		font-size: 17px;
	}
}
