.video-block {
	padding: 200px 0;
	background: linear-gradient(to top, #fff 50%, #FFD4A4 50%);
	border-bottom: 1px solid #DAD1CA;

	
	&__row{
		flex-direction: column;
		align-items: center;
	}

	&__pretitle {
		font-size: 20px;
		line-height: 22px;
		text-transform: uppercase;
		margin-bottom: 20px;
		letter-spacing: 1.2px;
	}

	&__title {
		margin-bottom: 38px;
		text-align: center;
	}

	&__img{
		margin-bottom: 80px;
	}

	&__button {
		margin-right:28px;
	}
	&__button:last-child {
		margin-right:0;
	}
	&__buttons {
		margin-bottom:63px;
	}
	&__text{
		color: #6E6E6E;
		font-size: 18px;
		line-height: 30px;
	}
	&__text-title{
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 10px;
	}
	.column:last-child{
		padding-left:34px ;
	}
}
